#container{
  width: 90vw;
  height: 90vw;
  position: absolute;
  left: 5vw;
}
@media (orientation: landscape) {
  #container{
    width:90vh;
    height:90vh;
    left: calc(50vw - 45vh);
  }
}
.square{
  background-color: #9fba73;
  float: left;
  -webkit-transition: background-color 2s; /* Safari prior 6.1 */
  transition: background-color 2s;
}
.square:hover{
  opacity: 0.5;
}
.square.affected{
  background-color: #15a4c3;
}
.square.attacked-default{
  background-color: #000;
}
.square.attacked{
  background-color: #ff5100;
}